<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="signin()">
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Your Username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Your Password" required></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Sign Me In</button>
  </form>
  <ion-label style="color:blue" (click)="signup()">Not a member yet? Register here!</ion-label>
  <ion-label style="color:blue" (click)="forgot()">Forgot password</ion-label>
</ion-content>
