<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="signup()">
    <ion-item>
      <ion-label fixed>Full Name</ion-label>
      <ion-input type="text" name="fullname" [(ngModel)]="fullname" placeholder="Your Full Name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Your Username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Your Email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Your Password" required></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Sign Me Up</button>
  </form>
</ion-content>
