<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{team}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is the Team page. Much alike to a user's Dashboard page, you can access Team Projects here.</p>
  <button ion-button block (click)="moveToProjects()">Team Projects</button>
</ion-content>
