<!--
  Generated template for the CreatelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{project.name}}'s createlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is the Create List page (can be replaced with Alert Controller, Modal, etc). You can create new, blank Lists for the Project here.</p>
  <p>In the original Trello we only need a name to create the list</p>
  <button ion-button block (click)="createNewList()">Create New List</button>
</ion-content>
