<!--
  Generated template for the ProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{project.name}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content no-padding>
  <ion-grid>
    <ion-row no-padding>
      <ion-col col-6 *ngFor="let l of project.lists" no-padding>
        <ion-card>
          <ion-toolbar color="primary">
            <ion-label color="light" start>{{l.name}}</ion-label>
            <ion-buttons end>
              <button ion-button icon-only primary small (click)="menuList(l)">
                <ion-icon name="menu"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-content (click)="moveToList(l)">
            <p>3 tasks in due</p>
            <p>1 task overdue</p>
            <p>2 tasks finished</p>
            <p>Nearest deadline: 05 Jan 2018</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>