<!--
  Generated template for the InvitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>Invite</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
            <ion-input type="text" name="txtSearch" required ngModel 
              placeholder="Search by Email or Username..." ></ion-input>
        </ion-col>
        <ion-col col-3>
          <button ion-button>
            <ion-icon name="search" (click)="search($event, f)"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <ion-list id="resultList">
      <!-- generates check list from search result here -->
      <ion-item *ngFor="let result of searchResults; let i = index;">
        <ion-grid>
          <ion-row class="row">
            <ion-col col-9><h3>{{searchResults[i]}}</h3></ion-col>
            <ion-col col-3>
              <!-- <button ion-button (click)="invite(searchResults[i])">add</button> -->
              <button ion-button (click)="remove(searchResults[i])" color="danger" *ngIf="isAdded(searchResults[i])">
                <ion-icon name="remove-circle"></ion-icon> 
              </button>
              <button ion-button (click)="add(searchResults[i])" color="primary" *ngIf="!(isAdded(searchResults[i]))">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- generates name added to invite -->
    <ion-list id="addedList">
      <p *ngIf="isNotEmpty()">Send Invitations to...</p>
      <ion-item *ngFor="let addedMember of addedMembers; let i = index;">
        <ion-grid>
          <ion-row>
            <ion-col col-6><h3>{{addedMembers[i]}}</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <button ion-button block type="submit" [disabled]="!(isNotEmpty())" (click)="inviteMembers()">Invite</button>  
  </form>
</ion-content>
