<!--
  Generated template for the ForgotpassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password?</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="forgotpw()">
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input  type="email"
                  name="email"
                  [(ngModel)]="email"
                  placeholder="Your Email"
                  required>
      </ion-input>
    </ion-item>
    <button ion-button type="submit" block>Send E-mail</button>
  </form>
</ion-content>