<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user}}'s dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This will be the dashboard of the logged account. You can check your personal projects and your teams here.</p>
  <button ion-button block (click)="moveToProjects()">Personal Projects</button>
  <button ion-button block (click)="moveToTeams()">Teams</button>
</ion-content>
