<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{list.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is the List page. Here you may display all tasks associated to this particular List, access them, and create new Tasks.</p>
  <p>Here we can:</p>
  <p>Move List (positioning only, this only matters for the original trello where "lists" are only groupings of "tasks" (cards))</p>
  <p>Copy List (create exact copy with new name)</p>
  <p>Add tasks</p>
  <p>Bulk processing tasks (move all, etc)</p>
  <p>Subscribe (idk idk idk)</p>
  <p>also, <a href="https://forum.ionicframework.com/t/ionic-swipeable-tabs-are-now-here/84266">check this out</a> for list UI</p>
  <ion-list>
    <button ion-item *ngFor="let t of list.tasks" (click)="moveToTask(t)">{{t.desc}}</button>
  </ion-list>
  <button ion-button block (click)="moveToCreatetask()">Create New Task</button>
</ion-content>
