<!--
  Generated template for the CreateteamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user}}'s createteam</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p>This is the Create Team page (can be replaced with Alert Controller, Modal, etc). You can create new, blank Teams and invite other members later.</p>
    <button ion-button block>Create New Team</button>
</ion-content>
