<!--
  Generated template for the TeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user}}'s teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is the teams page. You can see which Teams you are currently a part of and access their Team dashboards.</p>
  <button ion-button block (click)="moveToTeam('Team A')">Team A</button>
  <button ion-button block (click)="moveToTeam('Team B')">Team B</button>
  <button ion-button block (click)="moveToTeam('Team C')">Team C</button>
  <button ion-button block (click)="moveToCreateteam('User X')">Create New Team</button>
</ion-content>
