<!--
  Generated template for the CreateprojectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{owner}}'s createproject</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p>This is the Create Project page (can be replaced with Alert Controller, Modal, etc). You can create new, blank Projects for you or your team here.</p>
    <p>Trello's create new project description:</p>
    <p>name</p>
    <p>team or personal (combobox for the teams, with none as option for personal)</p>
    <p>privacy (will we even implement this?)</p>
    <p>Additional fields:</p>
    <p>members</p>
    <p>background (what)</p>
    <p>settings (permissions, privacy, personal or team, thumbnails, etc)</p>
    <p>Add more here...</p>
    <button ion-button block (click)="createNewProject()">Create New Project</button>
</ion-content>
