<!--
  Generated template for the CreatetaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{list.name}}'s createtask</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is the Create Task page (can be replaced with Alert Controller, Modal, etc). You can create new, blank Tasks for the List here.</p>
  <p>In the original trello we only need a name to create new tasks</p>
  <button ion-button block (click)="createNewTask()">Create New Task</button>
</ion-content>
