<ion-menu [content]="sideMenuContent">
    <ion-header>
        <ion-toolbar>Menu</ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item *ngIf="isThisActive()">
                <ion-icon name="contacts" item-left></ion-icon>
                Members
            </button>
        </ion-list>
        <ion-list>
            <button ion-item (click)="inviteNewMember()" *ngIf="isThisActive()">
                <ion-icon name="person-add" item-left></ion-icon>
                Invite
            </button>
        </ion-list>
        <ion-list>
            <button ion-item (click)="logout()" *ngIf="isThisActive()">
                <ion-icon name="log-out" item-left></ion-icon>
                Logout
            </button>
        </ion-list>
        <ion-list>
            <button ion-item (click)="signup()" *ngIf="!isThisActive()">
                <ion-icon name="log-in" item-left></ion-icon>
                Sign Up
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
