<!--
  Generated template for the ProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{owner}}'s projects</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row no-padding>
      <ion-col col-6 *ngFor="let p of projectList" no-padding>
        <ion-card>
          <ion-toolbar color="primary">
            <ion-badge item-start color="danger">19</ion-badge>
            <ion-buttons end>
              <button ion-button icon-only primary small (click)="subscribeProject(p)">
                <ion-icon name="notifications-outline"></ion-icon>
              </button>
              <button ion-button icon-only primary small (click)="starProject(p)">
                <ion-icon name="star-outline"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>
          <ion-card-content (click)="moveToProject(p)">
            <ion-item>
              <ion-avatar item-start>
                <img src="http://lorempixel.com/200/200" width="10%">
              </ion-avatar>
              <h2>{{p.name}}</h2>
              <p>Owner: Tedja</p>
              <p>3 Members</p>
            </ion-item>
            <ion-label><p>Last activity: 2 days ago</p></ion-label>
          </ion-card-content>
          <ion-segment>
              <ion-segment-button (click)="deleteProject(p)">
                <ion-icon name="trash"></ion-icon>
              </ion-segment-button>
              <ion-segment-button (click)="copyProject(p)">
                  <ion-icon name="copy"></ion-icon>
              </ion-segment-button>
              <ion-segment-button (click)="editProject(p)">
                  <ion-icon name="create"></ion-icon>
              </ion-segment-button>
          </ion-segment>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addProject()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
