<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{task.desc}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is the Task page. Here you can do most of the features offered, such as create checklists, upload resources, etc.</p>
  <p>{{task.desc}}</p>
  <p>{{task.checked}}</p>
  <p>{{task.deadline}}</p>
  <p>Here's the fun part. We can:</p>
  <p>add description</p>
  <p>add comments</p>
  <p>look at activities</p>
  <p>assign members</p>
  <p>create checklists</p>
  <p>add due date (or none as default)</p>
  <p>attach files</p>
  <p>move, copy, etc</p>
  <button ion-button block>Do stuff</button>
</ion-content>
